extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    .navlink
      a(href="/game") Game
    .navlink
      a(href="/ship") Ships
    .navlink
      a(href="/account") Account
    .navlink
      a(href="/logout") Log Out
    span#userSpan Logged in as #{owner}
  div#content
    h1 #{owner}'s Account
    section#accountData
      span Kills: #{kills}
      br
      span Deaths: #{deaths}
      br
      - var kdr = deaths === 0 ? kills === 0 ? 1 : kills : parseInt(kills) / parseInt(deaths);
      span KDR: #{kdr} 
block scripts
    script(src="/assets/shipMaker.js")